* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #edf0f5;
    font-family: 'Dosis', sans-serif;
}


/* nav */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
    margin-left: 5em;
    position: relative;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 0.97em 3em;
    transition: all ease-in-out 400ms;
}

nav a:hover {
    color: orange;
}


/* section inicio */

#opcionesUsuario {
    background-color: orange;
    width: 15em;
    height: 8em;
    float: right;
    position: relative;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5em 18em;
    display: none;
    z-index: 1;
    border-radius: 2em;
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.6);
}

.tablon {
    width: 50%;
    height: auto;
    background-color: white;
    border: 0.1em solid rgb(180, 180, 180);
    margin: 3em 0 0 10em;
    padding: 2em;
}

.tablon h2 {
    font-size: xx-large;
    margin-bottom: 1.7em;
}

.tablon .filtro {
    padding: 0.5em 1em;
    margin-left: 10em;
    width: 20%;
    padding-left: 1em;
    border-radius: 0.5em;
    font-size: 1em;
}

.tablon .anadirAnuncio {
    float: right;
    background-color: orange;
    padding: 0.5em 1em;
    transition: 0.4s;
    border-radius: 2em;
    cursor: pointer;
    margin-right: 5em;
    font-size: 1em;
    color: white;
    border: 0.2em solid orange;
}

.anadirAnuncio:hover {
    color: orange;
    box-shadow: white inset -5.5em 0 0 0, white inset 5.5em 0 0 0;
}

.anuncio {
    width: 50%;
    height: auto;
    background-color: white;
    border: 0.1em solid rgb(180, 180, 180);
    margin: 3em 0 0 10em;
    padding: 2em;
}

.anuncio h2 {
    text-transform: uppercase;
}

.anuncio .fecha {
    margin-bottom: 2em;
}

.anuncio .autor {
    margin-top: 2em;
}


/* Aside */

aside {
    width: 23%;
    height: auto;
    background-color: white;
    border: 0.1em solid rgb(180, 180, 180);
    padding: 2em;
    position: relative;
    float: right;
    margin: -79.7em 10em 0 0;
}

aside h2 {
    text-align: center;
    margin-bottom: 2em;
}

aside table,
.partido table,
.mensajes table {
    margin: 0 auto;
    border: 0.1em solid rgb(180, 180, 180);
    border-collapse: collapse;
    margin-bottom: 2em;
}

aside table tr,
.partido table tr,
.mensajes table tr {
    border: 0.1em solid rgb(180, 180, 180);
}

aside table tr td,
.partido table tr td,
.mensajes table tr td {
    border: 0.1em solid rgb(180, 180, 180);
    padding: 0.8em;
}

.siguiente {
    margin-left: 5em;
    margin-right: 5em;
}

.fa-chevron-right {
    float: right;
}

.fa-chevron-right,
.fa-chevron-left {
    cursor: pointer;
}


/* section partido/plantilla */

.partido h2,
.mensajes h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3em;
}

.partido table tr th,
.mensajes table tr th {
    border: 0.1em solid rgb(180, 180, 180);
    padding: 0.8em;
    text-transform: uppercase;
}

.partido table tr td,
.mensajes table tr td {
    text-align: center;
}

.partido table,
.mensajes table {
    width: 50%;
    background-color: white;
    color: #333;
    margin-top: 2em;
}

.plantilla .anadirJugador,
.partido .anadirPartido {
    background-color: orange;
    padding: 0.5em 1em;
    transition: 0.4s;
    border-radius: 2em;
    cursor: pointer;
    float: right;
    font-size: 1em;
    color: white;
    border: 0.2em solid orange;
}

.plantilla .anadirJugador:hover,
.partido .anadirPartido:hover {
    color: orange;
    box-shadow: white inset -5.5em 0 0 0, white inset 5.5em 0 0 0;
}


/* Plantilla */

section h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2em;
}

.plantilla,
.partido,
.mensajes {
    margin: 0 auto;
    width: 70%;
    height: auto;
    min-height: 25em;
    background-color: white;
    border: 0.1em solid rgb(180, 180, 180);
    margin-top: 3em;
    padding: 2em;
    background-color: #333;
    color: white;
    border-radius: 0.5em;
}

.plantilla {
    height: 70em;
}


/* Menu tabla */

.menuTabla {
    padding-bottom: 1.5em;
    border-bottom: white 0.1em solid;
}

.menuTabla li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTabla label {
    font-size: 1.2em;
    margin-right: 0.5em;
}

.menuTabla #filtroNombre {
    height: 60%;
    width: 60%;
    padding-left: 1em;
    border-radius: 0.5em;
    font-size: 1.2em;
}

.menuTabla .filtroTabla {
    height: 70%;
    width: 100%;
    padding-left: 1em;
    border-radius: 0.5em;
    font-size: 1.1em;
}

.jugadores {
    margin-top: 2em;
}

.jugador {
    width: 32%;
    border: white solid 0.2em;
    background-color: white;
    float: left;
    margin-left: 0.4em;
    margin-top: 0.4em;
}

.jugador img {
    width: 50%;
    border-radius: 10em;
    float: left;
    padding: 0.5em;
}

.jugador .nombre {
    margin-top: 1em;
    font-size: 1.5em;
}

.jugador .nombre,
.jugador .num,
.jugador .pos {
    color: black;
    text-transform: uppercase;
    margin-left: 2em;
    font-weight: 500;
    color: #6a6c6f;
}

.jugador a {
    color: black;
    text-decoration: none;
    transition: 0.5s ease;
}

.jugador a:hover {
    color: blue;
    text-decoration: underline;
}


/* mensajes */

.mensajes .mensajeNuevo {
    background-color: orange;
    padding: 0.5em 1em;
    transition: 0.4s;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1em;
    color: white;
    border: 0.2em solid orange;
}

.mensajes .mensajeNuevo:hover {
    color: orange;
    box-shadow: white inset -5.5em 0 0 0, white inset 5.5em 0 0 0;
}

.fotoUsuario img {
    width: 8em;
    border-radius: 5em;
}

.menuTabla .refrescar {
    height: 80%;
    width: 60%;
    border-radius: 10em;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.menuTabla .refrescar:hover {
    height: 80%;
    border-radius: 10em;
    background-color: white;
}