* {
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
}


/*form*/

.primerLogin {
    overflow: hidden;
    max-width: 25em;
    background: rgb(255, 192, 75);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1.2em rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 3em;
}

.primerLogin .opciones {
    display: flex;
    width: 200%;
}

.primerLogin .titulo {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.primerLogin .cambioTitulo {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.cambioTitulo .login,
.cambioTitulo .signup {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.cambioTitulo label.signup {
    color: #000;
}

.cambioTitulo .cambioBoton {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, rgb(141, 92, 0), orange);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.botonRadio {
    display: none;
}

#signup:checked~.cambioBoton {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

article .formulario {
    width: 100%;
    overflow: hidden;
}

.formulario .optFormulario {
    display: flex;
    width: 200%;
}

.formulario .optFormulario form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.optFormulario form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.optFormulario form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.optFormulario form .field input:focus {
    border-color: rgb(141, 92, 0);
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.optFormulario form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.optFormulario form .pass-link {
    margin-top: 5px;
}

.optFormulario form .pass-link a {
    color: rgb(141, 92, 0);
    text-decoration: none;
}

.optFormulario form .pass-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, rgb(141, 92, 0), orange, rgb(141, 92, 0), orange);
    border-radius: 5px;
    transition: all 0.4s ease;
    ;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.terminos {
    font-size: 0.8em;
    margin-top: 1em;
}


/* terminar registro */

#clubEntrenador,
#clubJugador,
#equipoEntrenador,
#equipoJugador {
    display: none;
}

.completaRegistro {
    width: 80%;
    overflow: hidden;
    background: rgb(255, 192, 75);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1.2em rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    height: auto;
}

.completaRegistro .titulo {
    display: block;
}