/* Header */

header {
    background-color: #141e30;
    height: 6em;
}

header h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}


/* Nav */

nav {
    font-family: consolas;
    display: block;
    display: flex;
    justify-content: center;
    height: 1.8em;
    background-color: #141e30;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
    position: relative;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1em 1em 0 0;
    transition: all ease-in-out 400ms;
}

nav a:hover {
    color: #03e9f4;
    background-color: white;
}